#title{
    font-family: "Quicksand", sans-serif;
    font-size: larger;
    font-weight: bold;
}
#banner-title{
font-weight: bold;
color: rgb(109, 108, 108);
}
#btn{
    font-size: small;
    color: black;
}