

*{
     font-family: Arial, Helvetica, sans-serif;
     
}
.search{
   
    padding-left: 25px;
    background-size: 22px;
    background-image: url('https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png');
    background-repeat: no-repeat;
    background-position: 9px 9px; 
    text-indent: 40px;
    background-color: rgb(233, 235, 236);
   
  }

.icon-heart:hover{
transform: scale(1.1);

}
.icon-user:hover{
    transform: scale(1.1);
}
.icon-bag:hover{
    transform: scale(1.1);
}
.fw-bold{
    color: rgb(130, 132, 126);
}
span.navbar-toggler-icon::after {
    background-image: -moz-element();
    }